<!DOCTYPE html>
<html ng-app="app">

  <head>
    <script data-require="angular.js@*" src="//code.angularjs.org/1.6.1/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
      <script src="dist/angular-filter.min.js"></script>
    <!--<script data-require="ui-bootstrap@*" data-semver="1.3.3" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>-->
      <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link data-require="bootstrap-css@*" data-semver="3.3.6" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
      <link rel="stylesheet" href="dropdownMenu/normalize.css">
    <link rel="stylesheet" href="dist/angular-dropdowns.min.css">
    <link rel="stylesheet" href="dropdownMenu/page.css">
    
       <script type="text/javascript" src="dist/angular-dropdowns.js"></script>
    <script src="script.js"></script>
      <script src="gm.datepickerMultiSelect.js"></script>
  </head>

   <body ng-controller='AppCtrl as $app' ng-init="getEventsDetails()">
       <style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
           
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
</style>
       <div ng-show="isLoaded==true"> 
       <div class="row">
           <div class="col-xs-12" ng-if="isError" style="color:red">  <h1 > {{errorMessage}}</h1></div>
           <div class="col-xs-12" >
                        <select name="singleSelect" id="singleSelect" ng-model="dateType" style="height:35px;width:200px;margin-top: 10px;">
                          <option value="">---Please select---</option> <!-- not selected / blank option -->
                          <option value="Today">Today</option> 
                          <option value="week">One Week</option>
                          <option value="TwoWeeks">Two Weeks</option> 
                          <option value="Custom">Custom</option>
                        </select>
                   </div> 
           <div class="col-xs-6" ng-show="dateType=='Custom'">
               <div class="row">
                     
                  <div id="test1" class="col-xs-6" >
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup ng-model="$app.selectedDates" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-readonly="true" placeholder="From"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>

                  <!--<div id="test2" class="col-xs-6" ng-show="dataType=='Custom'">-->
                      <div class="col-xs-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup ng-model="$app.selectedDates2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-readonly="true" placeholder="To"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
               </div>       
           </div>
            <!--<div class="col-xs-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>-->
          
                
              <div class="col-xs-2">
                   
                <!--<div dropdown-select="countries" dropdown-model="selectedLoc" dropdown-disabled="dropdownsDisabled" ></div> -->
                  
                  <select ng-model="selectedLoc" 
                     ng-options="record as record for record in countries" style="height:35px;width:200px;margin-top: 10px;">
                   <option value=''>Country</option>
                </select>
                  
                  
              </div>

              <div class="col-xs-2">
                 <!--<h1>Select Game</h1>
                <div dropdown-select="games" dropdown-model="selectedGame" dropdown-disabled="dropdownsDisabled"></div>-->
                  
                  <select ng-model="selectedGame" 
                     ng-options="record as record for record in games" style="height:35px;width:200px;margin-top: 10px;">
                   <option value=''>Sport</option>
                  </select>
              </div>    
           
                 <div class="col-xs-2" >&nbsp;</div>
                
           
               
           
           
            </div>
       
            <div class="row">
            <div class="col-xs-2">
                    <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='$app.filterEvents()'>Search Events</button>
                </div>
                <div class="col-xs-2">
                    <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='$app.clearFilters()'>Clear Search</button>
                </div>
           
           
            </div>
       
       </div> 
        <div ng-show="showEvents">
                <h1 ng-if="eventsResultsFilteredNew.length > 0">Events in the selected Date Range</h1>
                <h1 ng-if="eventsResultsFilteredNew.length == 0"> No Events Found</h1>
                <div ng-repeat='dateTimes in eventsResultsFilteredNew | orderBy: "time"'>
                    <div ng-if="eventsResultsFilteredNew.length > 1" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                          <span style="font-size: 30px; background-color: #FFFFFF; padding: 0 10px;">
                            {{dateTimes.time}}
                          </span>
                        </div>
                        <div class="col-sm-12"><br/></div>
                    <div class="col-sm-12"><br/></div>
                    <hr class="hr-text" data-content="OR">
                    <div ng-repeat='event in dateTimes.listValue | orderBy: "country" '>
                   <!-- <li>-->
                        <div ng-if="eventsResultsFilteredNew.length == 1" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                          <span style="font-size: 30px; background-color: #FFFFFF; padding: 0 10px;">
                            {{event.country}}
                          </span>
                        </div>
                        <div class="col-sm-12"><br/></div>
                    <!--</li>    
                    <li>-->
                            
                            <div class="row" ng-repeat='games in event.listValue | unique:"UID"'>

                                    <div class="col-sm-3" ng-if="eventsResultsFilteredNew.length > 1">{{event.country}}, {{games.LOCATION}} </div>
                                    <div class="col-sm-3" ng-if="eventsResultsFilteredNew.length < 2">{{games.LOCATION}} </div>
                                    <div class="col-sm-6"><strong>{{games.start_time}} local () &nbsp;&nbsp; {{games.SUMMARY}} </strong><br/></div> <div class="col-sm-3">{{games.sport}} , &nbsp;&nbsp; {{games.league}}</div>
                                
                                <div class="col-sm-12"><hr/><br/></div>
                            </div>
                       
                   <!-- </li>-->  
                    </div>
                </div>    
              </div>
  </body>

</html>
