.btn-menu {
  padding: 5px 25px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 7px;
  box-shadow: 0 1px 1px rgba(50,50,50,0.25);
  color: #8AA8BD;
  font-weight: bold;
  cursor: pointer;
}

.btn-menu:hover, .btn-menu:focus {
  box-shadow: 0 1px 1px rgba(50,50,50,0.75);
}

.disabled .btn-menu {
  color: #5B6A7D;
  box-shadow: none;
}

.disabled .btn-menu:hover, .disabled .btn-menu:focus {
  box-shadow: none;
}


option:nth-child(1) {
    font-weight:bold;
}
/*
option:nth-child(0) {
    font-weight:bold;
}*/
     
.bold {
  font-weight:bold;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.border-radius(@radius){
    .border-top-radius(@radius);
    .border-right-radius(@radius);
    .border-bottom-radius(@radius);
    .border-left-radius(@radius);
}